{
  "parser": "babel-eslint",
  "extends": [
        "eslint:recommended"
  ],
  "plugins": [
        "html"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "Polymer": true,
    "ReduxBehavior": true,
    "Stomp": true,
    "SockJS": true,
    "ga":true,
    "THG": true
  }
}